@font-face{
  font-family: 'Merriweather';
  src: local('Merriweather'), url(./fonts/Merriweather-Regular.ttf) format('truetype');
}

html{
  font-size: 62.5%; /* Default font is 16px, 62.5% is 10px (10px is 1 rem)*/
  box-sizing: border-box;
}
body{
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Merriweather;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root{
  height: 100%;
}
/* Layout */
.grid-container{
  display: grid;
  grid-template-areas: 
  'header'
  'main'
  'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 6rem 1fr 5rem;
  height: 100%;
}
header{
  grid-area: header;
  background-color:#ffffff;
  align-content: center;
  border-bottom: solid 0.2rem #d3d3d3;
  padding-top: 1rem;
}
main{
  margin: 0 auto;
  width: 75%;
  grid-area: main;
  padding: 1rem;
}
footer{
  grid-area: footer;
  background-color:#d6f7f8; /*f8ebe6*/
  color: #000000;
}

/* Common */
h1{
  font-size: 1.8rem;
  padding: 0rem 0;
  margin: 0.5rem;
}
h2{
  color: #000000;
  font-size: 1.6rem;
  padding: 0rem 0;
  margin: 0.5rem;
}
h3{
  color: #000000;
  font-size: 1.2rem;
  padding: 0rem 0;
  margin: 0.5rem;
}

a{
  text-decoration: none;
}
a:hover{
  color: #006eff;
}

/* Header */
header a{
  color: #000000;
  padding: 1rem;
}
a.brand{
  color: #006eff; /*ffa500*/
  font-size: 3rem;
  font-weight: bold;
}
a.cart{
  border: 0.2rem #ffffff solid;
  border-radius: 0.5rem;
}
a.cart:hover{
  border: 0.2rem #d3d3d3 solid;    
}
a.sign-in{
  border: 0.2rem #ffffff solid;
  border-radius: 0.5rem;
}
a.sign-in:hover{
  border: 0.2rem #d3d3d3 solid;    
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.displayProduct{
  justify-content: flex-start;
  align-items: flex-start;
}
.row.top{
  margin: 0 auto;
  width:75%;
}
.row.centre{
  justify-content: center;
}

.product-page{
  margin: 2rem;
  margin-right: 0;
  margin-left: 0;
  display: flex;
  flex-wrap: wrap;
  width: 80rem;
}

/*images*/
img{
  border-radius: 0.5rem;
}

img.medium{
  width: 30rem;
  height: 24rem; 
  object-fit: cover;
}

img.icon{
  width: 1.2rem;
  height: 1.2rem; 
  padding: 0.1rem;
}

img.big{
  max-width: 80rem;
  max-height: 60rem;
  height: 100%;
  width: 100%;
  object-fit: contain;  
}

img.clickable {
  align-self: flex-start;
  height: 7rem;
  width: 7rem;
  margin: 0.62rem;
  margin-top: 0;
  object-fit: cover;
  display: inline-block;
  border-radius: 0.7rem;
  border: 0.2rem #d3d3d3 solid;    
}

/*main*/

.product{
  border: 0.2rem #ffffff solid;    
  border-radius: 0.7rem;
  margin: 1rem;
  max-width: 30rem;
  max-height: 35rem; 
}

.product:hover{
  border: 0.2rem #d3d3d3 solid;    
}

.product-body{
  padding-left: 0rem;
}

.product-body > * {
  margin-bottom: 0.5rem;
}

.price{
  font-size: 2rem;
}

.seller{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}

.rating{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.scroller {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-image{
  width: 60rem;
  height: 45rem;
  border-radius: 0.7rem;
  border: 0.2rem #d3d3d3 solid;    
}

.additional-info{
  max-width: 30rem;
  width: 30rem;

  margin: 2rem;
  margin-left: 0rem;
  margin-right: 0rem;

  align-self: flex-start;
  align-content: flex-start;
}

.no-left-margin{
  margin-left: 0;
}

.button-cart{
  width: 100%;
  height: 4rem;
}